/vna/
/src/output_files/
/src/__pycache__/
/src/adiabaticity.py
/src/compare_models.py
/src/finite_size.py
/sampled_spins/
/saved_models/
/saved_models_July/
/slurm_outputs/
/figures/
/Dynamical_FSS/equilibrium_fss.py
/Dynamical_FSS/runequilibrium_fss.py
/src/playground.py
/src/plot_stuffs.py
/src/post_processing.py

