/vna/
/src/output_files/
/src/__pycache__/
/src/adiabaticity.py
/src/compare_models.py
/src/finite_size.py
/sampled_spins/
/saved_models/
/saved_models_July/
/slurm_outputs/
/figures/
/Dynamical_FSS/equilibrium_fss.py
/Dynamical_FSS/runequilibrium_fss.py
/src/playground.py
/src/plot_stuffs.py
/src/post_processing.py
/output_files/
/output_files_/
/slurm_outputs/
/src/brute_force_training.ipynb
/src/interaction_matrix_playground.py
/src/mean_field_plot.ipynb
/src/plot_stuffs.ipynb
/src/plot_vqa.ipynb
/src/PRNN_utilities.py
/src/Untitled.ipynb
/Dynamical_FSS/__pycache__/
/Dynamical_FSS/.ipynb_checkpoints/
/Dynamical_FSS/fully_connected_ising.ipynb
/Dynamical_FSS/fully_connected_quantum_ising.ipynb
/Dynamical_FSS/fully_connected_Ising_optimal_params.json
/Finite_Size_Scaling/.ipynb_checkpoints/
/Finite_Size_Scaling/src/.ipynb_checkpoints/
/Finite_Size_Scaling/src/fss_playground.py
/Finite_Size_Scaling/src/fully_connected_ising.ipynb
/Finite_Size_Scaling/src/playground-Copy1.ipynb
/Finite_Size_Scaling/src/Transverse_field_Ising.ipynb
/Finite_Size_Scaling/src/FSS_magnetization_NN_VNA.pdf